<br />
<br />
<b>Witaj w chatroomie {{username}}</b>
{% if messages %}
    <ul>
        {% for msg in messages %}
            <b>{{ msg.timestamp }} - {{ msg.user }}</b>
            <br />
            {{ msg.message}}
        {% endfor %}
    </ul>
{% else %}
    <p>Nie ma zadnych wiadomosci.</p>
{% endif %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<b>Wyslij wiadomosc.</b>
<form action="/chat/room/" method="post">
{% csrf_token %}
<textarea  name="message" rows="4" cols="50">
Treść wiadomości
</textarea>
<input type="submit" value="Add" />
</form>