<br />
<br />
<b>Witaj w chatroomie {{username}}</b>
{% if messages %}
    <ul>
        {% for msg in messages %}
        <br />
        <b>---------------------</b>
        <br />
            <b>{{ msg.timestamp }} - {{ msg.user }}</b>
            <br />
            {{ msg.message}}
                <br />
        <b>---------------------</b>
        <br />
        {% endfor %}
    </ul>
{% else %}
    <p>Nie ma zadnych wiadomosci.</p>
{% endif %}
                <br />        <br />        <br />
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if username != "Guest" %}
<b>Wyslij wiadomosc:</b>
<form action="/chat/room/" method="post">
{% csrf_token %}
<textarea  name="message" rows="4" cols="50">
Treść wiadomości
</textarea>
<input type="submit" value="Add" />
</form>
{% endif %}
        <br />        <br />
<li><a href="/chat/">Zmien uzytkownika</a></li>

